.feynman__link {
  font-size: 36px;
  font-weight: normal;
  color: var(--secondary-color-blue);
  line-height: 51px;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  opacity: 1;
  z-index: 1;
}

.feynman__link:hover {
  opacity: .3;
  transition: opacity 1s;
}