.kaufman {
  background-color: var(--background-color-darkgray);
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  background-position: top right -210px;
  background-repeat: no-repeat;
  overflow: hidden;
}