:root {
  --background-color-lightgray: #f2f2f2;
  --background-color-darkgray: #1f1f1f;
  --text-color-black: #000000;
  --secondary-color-blue: #2f80ed;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


/* Стили для блока Header*/


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: var(--background-color-lightgray);
  display: flex;
  align-items: center;
  position: relative;
  /* выше установили ограничения для секции */
}

.header__logo {
  width: 228px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  font-size: 102px;
  color: var(--text-color-black);
  font-weight: 600;
  line-height: 96px;
  z-index: 3;
}

.header__subtitle {
  width: 388px;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  color: var(--text-color-black);
  font-weight: normal;
  line-height: 25px;
  z-index: 3;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: var(--secondary-color-blue);
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}


/* Стили для блока description*/


.two-columns__description {
  margin: 100px auto;
  width: 80%;
  outline: 1px solid var(--text-color-black);
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  color: var(--secondary-color-blue);
  line-height: 1.2;
  outline: 1px solid var(--text-color-black);
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  outline: 1px solid var(--text-color-black);
}

.two-columns__paragraph {
  margin: 0;
  font-size: 24px;
  color: var(--text-color-black);
  font-weight: normal;
  line-height: 34px;
  outline: 1px solid var(--text-color-black);
}

.two-columns__span-accent {
  font-weight: 600;
}


/* Стили для блока digits*/


.section-title__digits {
  width: 60%;
  margin: 100px auto 20px;
  font-size: 60px;
  font-weight: 600;
  color: var(--text-color-black);
  text-align: center;
  line-height: 1.15;
  outline: 1px solid var(--text-color-black);
}

.section-subtitle__digits {
  width: 60%;
  font-size: 24px;
  font-weight: normal;
  color: var(--text-color-black);
  text-align: center;
  line-height: 34px;
  margin: auto;
  outline: 1px solid var(--text-color-black);
}

.table__digits {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  outline: 1px solid var(--text-color-black);
}

.table__cell {
  width: 250px;
  margin: 60px 0 0;
  outline: 1px solid var(--text-color-black);
}

.table__heading {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color-black);
  line-height: 1.15;
  outline: 1px solid var(--text-color-black);
}

.table__text {
  margin: 20px 0 0;
  font-size: 18px;
  font-weight: normal;
  color: var(--text-color-black);
  line-height: 1.2; 
  outline: 1px solid var(--text-color-black); 
}


/* Стили для блока digits*/





/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
