:root {
  --background-color-lightgray: #f2f2f2;
  --background-color-darkgray: #1f1f1f;
  --text-color-black: #000;
  --secondary-color-blue: #2f80ed;
  --text-color-theme-dark: #fff;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


/* Стили для блока Header*/


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: var(--background-color-lightgray);
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  max-width: 730px;
  margin: 0 0 0 64px;
  font-size: 102px;
  color: var(--text-color-black);
  font-weight: 600;
  line-height: 96px;
  z-index: 3;
}

.header__subtitle {
  max-width: 388px;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  color: var(--text-color-black);
  font-weight: normal;
  line-height: 25px;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  color: var(--secondary-color-blue);
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: var(--secondary-color-blue);
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}


/* Стили для блока description */


.description__two-columns {
  margin: 100px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  max-width: 175px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  color: var(--secondary-color-blue);
  line-height: 1.2;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.two-columns__paragraph {
  margin: 0;
  font-size: 24px;
  color: var(--text-color-black);
  font-weight: normal;
  line-height: 34px;
}

.two-columns__span-accent {
  font-weight: 600;
}


/* Стили для блока digits*/


.section-title {
  width: 60%;
  font-size: 60px;
  font-weight: 600;
  color: var(--text-color-black);
  text-align: center;
  line-height: 1.15;
  z-index: 3;
}

.digits__section-title {
  margin: 100px auto 20px;
}

.section-subtitle {
  width: 60%;
  font-size: 24px;
  font-weight: normal;
  color: var(--text-color-black);
  text-align: center;
  line-height: 34px;
}

.digits__section-subtitle {
  margin: auto;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  padding: 0;
}

.digits__table {
  margin: 0 auto 100px;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0;
  list-style: none;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color-black);
  line-height: 1.15;
}

.table__text {
  margin: 20px 0 0;
  font-size: 18px;
  font-weight: normal;
  color: var(--text-color-black);
  line-height: 1.2; 
}


/* Стили для блока feynman*/


.feynman {
  width: 100%;
  background-color: var(--background-color-lightgray);
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-position: bottom left;
  background-repeat: no-repeat;
  min-height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.feynman__title {
  margin: 100px 0 0;
  max-width: 648px;
  text-align: center;
  font-size: 120px;
  font-weight: 600;
  color: var(--text-color-black);
  line-height: 1.15;
}

.feynman__subtitle {
  margin: 70px 0 0;
  font-size: 36px;
  font-weight: normal;
  color: var(--text-color-black);
  line-height: 51px;
}

.feynman__link {
  font-size: 36px;
  font-weight: normal;
  color: var(--secondary-color-blue);
  line-height: 51px;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
}


/* Стили для блока kaufman */


.kaufman {
  background-color: var(--background-color-darkgray);
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  background-position: top right -210px;
  background-repeat: no-repeat;
  overflow: hidden;
}

.kaufman__section-title {
  margin: 90px auto 20px;
}

.kaufman__section-subtitle {
  margin: auto;
}

.kaufman__table {
  margin: 0 auto 90px;
}

.section-title_theme_dark {
  color: var(--text-color-theme-dark);
}

.section-subtitle_theme_dark {
   color: var(--text-color-theme-dark);
}

.table_theme_dark {
  color: var(--text-color-theme-dark);
}

.table__cell_theme_dark {
  width: 200px;
  color: var(--text-color-theme-dark);
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: var(--text-color-theme-dark);
}

.table__text_theme_dark {
  color: var(--text-color-theme-dark);
}


/* Стили для блока footer */


.footer {
  background-color: var(--background-color-darkgray);
  padding: 60px 0 40px;
}

.footer__columns {
  width: 90%;
  min-height: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
  font-size: 18px;
  font-weight: normal;
  color: var(--text-color-theme-dark);
  line-height: 25px;
}

.footer__column-heading {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color-theme-dark);
  line-height: 30px;
}

.footer__column-links {
  margin: 20px 0 16px;
  padding: 0;
  list-style: none;
}

.footer__column-link {
  color: var(--text-color-theme-dark);
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding: 0 10px 0 0;
}